#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu {
    width: 600px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 20px auto;
    float: right;
}

.left {
    width: 200px;
    height: 200px;
    float: left;
}

.center {
    width: 200px;
    height: 200px;
    float: left;
}

.right {
    width: 200px;
    height: 200px;
    float: right;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0;margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;
    display: block;
    margin: 25px auto;
}

body {
    background-color: rgb(70, 70, 70);
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 160, 106);
    text-shadow: 2px 2px rgb(119, 119, 119);
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 166, 0);
    text-shadow: 2px 2px rgb(129, 126, 122);
}

div {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 255, 255)
}